html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: darkcyan;
  margin-bottom: 45px;
}

#addburger {
  background-color: black;
}

.card-header {
  background-color: #7010ec;
  color: #fff;
}

footer {
  position: absolute;
  bottom: 0;
  height: 45px;
  text-align: center;
  width: 100%;
  background-color: #032727;
}

footer small {
  line-height: 40px;
  color: #2216ca;
  font-size: 12px;
}
